<div class="container">
    <button (click)="back()" class="btn-back">Back</button>
    <h2 class="heading">Login Screen</h2>
    <form #loginForm="ngForm" class="form-container">
        <label class="label">Full Name</label><br><br>
<!-- pattern="[a-z]$" -->
<input type="text" class="inp-box" name="fullName" ngModel #fullName = 'ngModel' required><br>
<span class="span-err" *ngIf ="fullName.errors?.['required']&& fullName.touched">full Name should only have alphabets</span>
<br><!-- <input type="text" class="inp-box" name="fullName" pattern="[a-zA-Z]"$ NgModel #fullName='ngModel' required><br><br><br>
<span class = "span-err" *ngIf = "fullName.errors?.['pattern'] && fullName.touched">Please Enter Alphabets only</span> -->
        <label class="pass">Password</label><br>
        <input type="text" class="inp-box"><br><br>
        <button class="Submit">Submit</button>
        
    </form>
</div>
